body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-image: url('Photos/CoffeeBeans.jpg');
}

#head{
    font-size: 28px;
    color: white;
}


#register {
    color: white;
    font-size: 20px;
    text-align: right;
    margin-right: 75%;
}

.form-group{
    color: white;
    font-size: 20px;
}

.format{
    color: black;
    background-color: white;
}

.img-thumbnail {
    width: 250px;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

#pHead{
    color: midnightblue;
    font-size: 20px;
    text-align: center;
}

.panel-body{
    align-content: center;
    text-align: center;
    align-items: center;
}

#error{
    color: red;
}

#errorMessage{
    color: red;
}

#mainPageHead{
    font-size: 24px;
    color: saddlebrown
}

#registerButton{
    color: darkblue;
    background-color: white;
}

#registerButton:hover{
    color: white;
    background-color: darkblue;
}

.panel-group{
    margin-top: 5px;
    margin-bottom: 5px;
}
