body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#head1{
    font-size:28px;
    color:saddlebrown;
}

#head2{
    font-size: 24px;
    color: darkblue;
}

#register {
    color: darkblue;
    font-size: 20px;
    text-align: right;
    margin-right: 75%;
}

.format{
    color: black;
    background-color: white;
}

#submit{
    color: darkblue;
    background-color: white;
}

#submit:hover{
    color: white;
    background-color: darkblue;
}

#errorMessage{
    color: red;
}

#mainPageHead{
    font-size: 24px;
    color: saddlebrown
}

#registerButton{
    color: darkblue;
    background-color: white;
}

#registerButton{
    color: white;
    background-color: darkblue;
}
